.li-a:focus,
.li-a:hover {
  color: white !important;
  text-decoration: none;
}

.li-b:focus,
.li-b:hover {
  color: white !important;
  text-decoration: none;
}

.li-c:focus,
.li-c:hover {
  background-color: darkgrey !important;
  text-decoration: none;
}

.li-d:focus,
.li-d:hover {
  color: white !important;
  text-decoration: none;
}
